<h1><center> Data Analysis: Introduction to Pandas </center></h1>

<h2> Part I. Filtering and Sorting Data </h2>

<i>Example 1. Import the necessary libraries</i>

In [1]:
import pandas as pd

<i>Example 2. Import the dataset from the local file </i>

In [2]:
order_list = pd.read_csv('./order_list.csv', sep = '\t')
order_list

,id,quantity,food,description,unit_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

<b>Exercise 1. Display the first 5 orders of the dataset.</b>

In [3]:
order_list.head(5)

,id,quantity,food,description,unit_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

<b>Exercise 2. What is the number of rows in the dataset?</b>

In [4]:
row = order_list.shape[0]
print("Number of rows in the dataset is:", row)

Number of rows in the dataset is: 4622

<b>Exercise 3. What is the number of columns in the dataset?</b>

In [5]:
col = order_list.shape[1]
print("Number of columns in the dataset is:", col)

Number of columns in the dataset is: 5

<b>Exercise 4. Display the name of each column.</b>

In [6]:
order_list.columns

Index(['id', 'quantity', 'food', 'description', 'unit_price'], dtype='object')

<b>Exercise 5. Display the <i>"food"</i> which has the highest number of orders?

In [7]:
hightest_order = order_list['food'].value_counts().index[0]
print("The most ordered food item is:", hightest_order)

The most ordered food item is: Chicken Bowl

<b>Exercise 5. How many items were ordered for the most-ordered item?

In [8]:
most_order = order_list['food'].value_counts().iloc[0]
print("The highest number of orders for a single food item is:", most_order)

The highest number of orders for a single food item is: 726

<b>Exercise 6. Display the <i>"description"</i> which has the highest number of orders?</b>

In [9]:
hightest_dec = order_list['description'].value_counts().index[0]
print("The most ordered food item is:", hightest_dec)

The most ordered food item is: [Diet Coke]


<b>Exercise 7. How many foods ordered in total?</b>

In [10]:
qnt = order_list['quantity'].sum()
print("The total quantity of food items ordered is:", qnt)

The total quantity of food items ordered is: 4972

<b>Exercise 8. Calculate the total income for the period in the dataset?</b>

In [14]:
order_list['unit_price'] = (
    order_list['unit_price']
    .astype(str)
    .str.replace('$', '', regex=False)
    .astype(float)
)
total_income = (order_list['quantity'] * order_list['unit_price']).sum()
print("The total income from food items ordered is:", total_income, "$")

The total income from food items ordered is: 39237.02 $

<b>Exercise 9. Find the total number of orders.</b>

In [15]:
total_orders = order_list['food'].value_counts().sum()
print("The total number of food orders is:", total_orders)

The total number of food orders is: 4622

<b>Exercise 10. Find the average income for each order?</b>

In [16]:
avg = total_income / total_orders
print("The average income per order is:", avg.round(2), "$")

The average income per order is: 8.49 $

<b>Exercise 11. How many different foods are ordered?</b>

In [17]:
diff = order_list['food'].nunique()
print("The number of different food items ordered is:", diff)

The number of different food items ordered is: 50